#image{

	width: 100%;
	height: 100vh;
	overflow: hidden;
		min-width: 700px;
			min-height: 393px;
	/*background: url('../image/wall1.jpg') no-repeat center center fixed;*/
	/*background-size: cover;*/

}
body{
	min-width: 700px;
	min-height:  393px;
}


#mot{
	width: 50%;
	min-width: 250px;
	height: 39vh;

	position: absolute;
	bottom: 0px;

	margin-left: 25vw;

	background-color: #EFE8D5;
	border-top:3px solid #2F2E2A  ;
	border-right: 3px solid #2F2E2A;
	border-left:3px solid #2F2E2A;
	opacity:0.3;

	color: #A07508;
	overflow: auto;
	opacity:0.8

}

#mot p{
	margin: 20px;
}


#cf7 img{
	  width: 100%;
		max-width: 100%;
	}



#cf7 {
  position:relative;

}



span{
  position: relative;
}

#cf7 img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@keyframes cf7FadeInOut {
0% {
opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#cf7 img.top {
animation-name: cf7FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 6s;
animation-direction: alternate;
}


@media (max-width: 700px){

	body{
		width: 100%;
		min-width: 100%;
		margin: 0px;
		min-height: 0px;
		height:	0px;

	}

	#image, #cf7{
		width: 100%;
		min-width: 0px;
		max-height: auto;
	

	}
	#cf7 img{
	  width: 100%;
	  max-width: 100%;
	}
 	#mot{
		width: 100%;
	
		position: static;
		border: 0px solid black;
		margin: 0px;
	}

	#mot p{
		margin-left: 10%;
	}
}