#reserver{

	/*width: 50%;
	min-width: 250px;
	height: 39vh;

	position: absolute;
	bottom: 0px;

	margin-left: 25vw;

	background-color: #EFE8D5;
	border-top:3px solid #2F2E2A  ;
	border-right: 3px solid #2F2E2A;
	border-left:3px solid #2F2E2A;
	opacity:0.3;

	color: #A07508;
	overflow: auto;
	opacity:0.8*/
	
	
	

	
	height: 8%;
	width: 15%;
	min-width: 250px;
	border-top:2px solid #2F2E2A  ;
	border-right: 2px solid #2F2E2A;
	border-left:2px solid #2F2E2A;
	border-bottom:2px solid #2F2E2A;
	
	text-align: center;

	background-color: #d6dee5;


	line-height: 8vh;	

	/*border-right: 8px solid #aaa;
	border-top: 8px solid #aaa;*/

	z-index: 2;
}
#reserver{
	position: fixed;
	top: 80vh;
	left: 3%;
}

#reserver a{
	/*font-family: Champignon;*/
	font-size: 1em;
	text-decoration: none;
	color:black;
}

@media (max-width: 700px){
    #reserver{
    	position: static;
    	min-width: 100%;
		border: 0px;
    }
}