body{
	width: 100%;
	min-width: 1100px;
	height: 100vh;
	min-height: 900px;

	margin: auto;
	background-color: #BEBEBE;
	/*background: url('../image/background.jpg') no-repeat center center fixed;*/
	background-size: cover;
	/*background-color: #e0e0e0;*/
	/*background-color: white;*/
}

@media (max-width: 700px){
	body{
		width: 100%;
		min-width: 100%;
		margin: 0px;
		min-height: 0px;
		height:	0px;

	}
}