#form{
	width: 45%;
	min-width: 700px;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #EFE8D5;
	border: 5px solid #2F2E2A;


	margin-top: 90px;
	padding-bottom: 20px;
}

.form{
	margin-top: 100px;
}

input{
	background-color: #2F2E2A;
	color: #A07508;
	border-radius: 10px;
	width: 200px;
	border-radius: 10px;
}


#validation{
	margin: auto;
	width: 250px;
	margin-top: 15px;
}

#validation input{
	width: 250px;
}


p{
	color: #A07508;
}




label{
	width: 150px;
	display: block;
	float: left;
	color: #A07508;
}


@media (max-width: 700px){
	#form{
		border: 0px;
		width: 100%;
		min-width: 100%;
		padding: 0px;
		padding-bottom: 10px;
		padding-top: 10px;
		margin: 0px;
	}
	footer{
	    display: none;
	    height: 0px;
	    line-height: 0px;
	    display: none;
	}
	
	label{
		margin-left: 5%;
		width: 100px;
	}
	p{
		margin-left: 5%;
	}

	

}