section{
	width: 100%;
	min-width: 800px;
	min-height: 400px;

	margin-top: 80px;
}
article{
	width: 90%;

	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

#bloc{
	margin: 50px;
	padding: 50px;

	border: 5px solid #2F2E2A;

	background-color: #EFE8D5;

	color: #A07508;
}
#title{
	font-size: 1.5em;

	margin-bottom: 10px;

	border-bottom: 1px dashed black;

	color: #A07508;
}

aside{
	text-align: center;
	margin-bottom: 20px;
}

aside a{
	margin: 20px;

	color: gray;
	text-decoration: none;
}

@media (max-width: 700px){
	section{
		min-width: 100%;
	 	margin: 0px;
	}
		
	article{
	    width: 100%;
	    border: 0px;
	}
	footer{
	    visibility: hidden;
	    height: 0px;
	    line-height: 0px;
	    overflow: hidden;
	}
	#bloc{
		border: 0px;
		box-shadow: 0 0 0 white;
		border-radius: 0px;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	#title, #contenu{
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 2.5%;
	}
}