@font-face{
	font-family: "BickhamScriptProRegular";
	src: url('../font/BickhamScriptPro-Regular.otf');
	font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: "Champignon";
	src: url('../font/Champignon.otf');
	font-weight: normal;
    font-style: normal;
}