body {
    margin:0;
    padding:0;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	min-height: 600px;
}

footer{
	width: 100%;
	min-width: 1100px;
	height: 28px;
	background-color: #EFE8D5;
	border-top: solid 10px rgba(255, 255, 255, .5);
	background-clip: padding-box;
	color: #A07508;
	z-index: 1;
	clear: both;
}
/*
footer ul{
	text-align: left;
	padding: 0px;
	list-style-type: none;
	margin: 0px;

}
#foot{	
	padding-left:25%;
	/*font-family: "BickhamScriptProRegular";*/
	/*font-size:170%;
}

#adresse, #numero, #facebook, #twitter{
    display: inline-block;
	padding-right: 5%;
	vertical-align: top;

}
#adresse p{
	margin-bottom:0px;
}
#facebook, #twitter{
	padding-top:3%;
	padding-right:2%;
}
#facebook{
	padding-left: 20%;
}
#numero a, #adresse a{
	font-style: italic;
	color: black;
	text-decoration: none;
}*/

#copyright p{
	/*font-family: "BickhamScriptProRegular";*/
	/*font-size:170%;*/
	margin:0px;
	padding:0px;
	text-align: center;
	line-height: 28px;

}
/*
#langue{
	float: left;
	position: absolute;
	bottom: 10%;
	left: 2%;
}*/

@media (max-width: 700px){
    footer{
    	min-width: 100%;
    }
}