body {
    margin-top: 20px;
    padding:0;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    min-height: 600px;
}
nav {
    width: 100%;
    min-width: 800px;
    height: 60px;

    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    /*background-color: #e4e4e4;*/
    background-color: #EFE8D5;
    text-align: right;
    /*border-bottom: solid 10px rgba(255, 255, 255, .5);*/
    box-shadow: 0px 0px 5px #EFE8D5;

    z-index: 3;
	


}

/* main menu styles */

.nav,.nav ul {
    list-style:none;
    margin:0;
    padding:0;
}

.nav {
    position:relative;
}

.nav ul {
    height:0;
    left:0;
    overflow:hidden;
    position:absolute;
    top:55px;
}

.nav li {
    display: inline-block;
    position:relative;
    margin-right: 20px;
    width: 219px;
    text-align: center;
}

.nav li a {
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -webkit-transition:0.5s;
    background-color:#EFE8D5;
    color:grey;
    display:block;
    line-height:35px;
    padding:5px 20px;
    text-decoration:none;
    transition:0.5s;
    margin-top:10px;
	
}



.nav ul li {
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -webkit-transition:0.5s;
    opacity:0;
    transition:0.5s;
    width:100%;
}

.nav li ul li {
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
    -webkit-transition-delay:0s;
    transition-delay:0s;
}


.nav ul li a {
    /*background:#a0a0a0;*/
    color:#A07508;
    line-height:1px;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -webkit-transition:0.5s;
    transition:0.5s;
    margin-top:0px;
}

nav a#pull {  
    display: none;  
    text-align: left;
    color: #A07508;
    text-decoration: none;
    text-indent: 25px; 
}   

.nav>li>a{
	font-size : 1.1em;
	}

@media (min-width: 700px){
    .nav li:hover > a {
   /*background:#7d7d7d;*/
    background: grey;
    color:#E7D7B0;
    }

    .nav li:hover ul.subs {
    height:auto;
    width:100%;
    text-align: left;
    }
    .nav li:hover ul li a {
    line-height:35px;
    }
    .nav li:hover ul li {
        opacity:1;
        -moz-transition-delay:0.1s;
        -o-transition-delay:0.1s;
        -webkit-transition-delay:0.1s;
        transition-delay:0.1s;
    }

    .nav ul li a:hover {
    /*background:#7d7d7d;*/
    background:grey;
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(-90deg,rgba(255,255,255,0.5),rgba(255,255,25,0));*/
    }
}

 

@media (max-width: 700px){
    body{
		margin: 0px;
		padding: 0px;
    }
    .nav li{
        display: block;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        position: static;
    }
    nav{
        min-width: 100%;
        box-shadow: 0px 0px 0px white;
        height: auto;
    }
    .nav{
        position: static;
		padding-top: 1px;
    }
    .nav ul{
        overflow: visible;
        position: static;
        height: auto;
		
    }
    .nav ul li {
        width:100%;
        opacity: 1;
		
    }
    .nav ul li a {

    line-height:35px;
	

    }
    nav a#pull {  
        display: block;  
        background-color: #2F2E2A;  
        width: 100%;  
        line-height: 35px;
        position: relative;  

    }  
    nav a#pull:after {  
        content:"";  
        background: url('../image/nav-icon.png') no-repeat;  
        width: 30px;  
        height: 30px;  
        display: inline-block;  
        position: absolute;  
        right: 30px;  
        top: 10px;  

    }  
    nav ul{
        display: none;

    }
    .nav li a{
        color: #2F2E2A; 
        font-weight: bold;   
    }
}