
.news {
    width: 22%;
	min-width: 200px;
    border-radius:3px;
    height:50px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
	background-color: #D3D3D3;
	border-top:2px solid #2F2E2A  ;
	border-right: 2px solid #2F2E2A;
	border-left:2px solid #2F2E2A;
	border-bottom:2px solid #2F2E2A;
    margin: 10px;

}


.new,.new ul {
    list-style:none;
    margin:0;
    padding:0;
}



.new li {
    position:relative;
    width: 100%;
}

.new li a {
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -webkit-transition:0.5s;
	background-color: #d6dee5;
    color:black;
    display:block;
    font-size:12px;
    padding:5px 20px;
    text-decoration:none;
    transition:0.5s;
    line-height: 40px;



}

.new li:hover > a {
    background: #d7c38e;
    color:#fff;
}

.news{
    position: absolute;
    bottom: 0px;
    right: 00px;
}

@media (max-width: 700px){
    .news{
        position: static;
        width: 100%;
        margin:0px;

    }
}

@media (max-width: 700px){
	.news{
		border: 0px;
	}

}






