
/*image bloc k properties*/
#image{

	/*width*/
  width: 58%;
  min-width: 750px;
  
  /*height*/
  height: 80vh;
  min-height: 450px;
  
  /*margin*/
  margin: auto;
  margin-top: 90px;
  
  /*border*/
  border: 1px solid rgba(0,0,0,0);

}
/* image img properties*/
#image img{

	/*margin*/
  margin: auto;
}

/*section block properties*/
section{

	/*width*/
  width: 58%;
  min-width: 750px;

  
	/*margin*/
  margin: auto;
  margin-top: 20px;
}


/*article block properties*/
article{

	/*width*/
  width: 50%;

  /*background*/
  background-color: #EFE8D5;
  
  /*overflow*/
  overflow: auto;
  
  	padding-right: 5%;
	padding-left: 5%;
}

/*aside block properties*/
aside{

	/*floating*/
  float: right;
  
  /*width*/
  width: 25%;
  
  /*background*/
  background-color: #EFE8D5;
  
  /*overflow*/
  overflow: auto;
  
  	padding-right: 5%;
	padding-left: 5%;
}

/*border for aside and article*/
article, aside{
  border: 5px solid #2F2E2A;
}


/*h block properties*/
h1{

	/*text*/
  text-align: center;
  font-family: Champignon;
  font-size: 2em;
}

/*aside p properties*/
aside p{
	/*font*/
  font-size: 1em;
  line-height: 2em;
   


}

/*article p properties*/
article p{

	/*font*/
  font-size: 1em;
  
}

/*p#cf7_controls properties*/
p#cf7_controls {
	/*text*/
  text-align:center;
  
  /*margin*/
  margin-top: 75vh;
}

/*cf7_controls span properties*/
#cf7_controls span {

	/*padding*/
  padding-right:2em;
  
  /*cursor*/
  cursor:pointer;
}

/*cf7 properties*/
#cf7 {

	/*position*/
  position:relative;
	
	/*margin*/
  margin:0 auto 10px;
}

/*cf7 img properties*/
#cf7 img {

	/*width*/
  width: 100%;
  
  /*height*/
  height: 80vh;
  min-height: 450px;
  
	/*position*/
  position:absolute;
  left:0;
  
  /*transition*/
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  
  /*opacity*/
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}


/*cf7 image that are opaque*/
#cf7 img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}


/*span block properties*/
span{
  position: relative;
}

/*Part for mobile adaptation*/
@media (max-width: 700px){
  #image{
    min-width: 100%;
    margin: 0px;
  }
  section{
    min-width: 100%;
    margin: 0px;
  }
  aside{
    float: none;
    width: 100%;
    border: 0px;
  }
  article{
    width: 100%;
    border: 0px;
  }
  footer{
    visibility: hidden;
    height: 0px;
    line-height: 0px;
    overflow: hidden;
  }
}