form{
	width: 45%;
	min-width: 700px;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #EFE8D5;
	border: 5px solid #2F2E2A;

	margin-top: 90px;
	padding-bottom: 20px;
}
h1{
	text-align: center;
	color: #A07508;
}
.recherche{
	background-color: #2F2E2A;
	color: #A07508;
	border-radius: 10px;
	width: 100px;
}

#date{
	display: inline-block;
}

#date input{
	margin-left: 10px;
	margin-right: 50px;
}
#recherche{
	margin: auto;
	width: 100px;
}


label{
	color: #A07508;	
}
input{
	border-radius: 10px;
}

#input1, #input2, #input3, #input4{
	display: block; 
	margin: 20px;
	margin-left: 50px;
}
#input21, #input22, #input23, #input24{
	display: block; 
	margin: 20px;
	margin-left: 50px;
}
 #label1, #label2, #label3, #label4{
	display: block; 
	margin: 20px;
	margin-left: 50px;
}
#label21, #label22, #label23, #label24{
	display: block; 
	margin: 20px;
	margin-left: 50px;
}

#date{
	margin-left: 50px;
}

#chambre{
	margin-left: 50px;
}

@media (max-width: 700px){
	form{
		border: 0px;
		min-width: 100%;
		padding: 0px;
		padding-bottom: 10px;
		padding-top: 10px;
		margin: 0px;
		border: 0px solid black;
	}
	footer{
	    visibility: hidden;
	    height: 0px;
	    line-height: 0px;
	    display: none;
	}

	#civilite label{
		margin-left: 10%;
	}
	#choix1, #choix2{
		margin-left: 10%;
	}
	#date input{
		display: block;
	}
	#recherche{
		margin-bottom: 20px;
	}

}