section{
	width: 100%;
	min-width: 800px;
	min-height: 400px;

	margin-top: 80px;
}
article{
	width: 60%;

	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

#bloc{
	margin: 50px;
	padding: 50px;

	border: 5px solid #2F2E2A;

	background-color: #EFE8D5;

	color: #A07508;
}
#title{
	font-size: 1.5em;

	text-align: center;

	color: #A07508;
}

#title a{
	text-decoration: none;
	color : #A07508;
}

@media (max-width: 700px){
	section{
		min-width: 100%;
	 	margin: 0px;
	}
		
	article{
	    width: 100%;
	    border: 0px;
	}
	footer{
	    visibility: hidden;
	    height: 0px;
	    line-height: 0px;
	    overflow: hidden;
	}
	#bloc{
		border: 0px;
	}
}