section{
	width: 100%;
	min-width: 1100px;
	min-height: 600px;
}

#bloc{
	position: absolute;
	top: 50%;
	padding: 20px;
	padding-top:0px;
	width: 40%;
	min-width: 440px;
	height: 30%;
	overflow: auto;

	background-color: rgba(255,255,255,0.7);

	color: #A07508;
}

#reservation{
	width: 40%;
	min-width: 440px;
	height: 50px;
	text-align: right;
	position: absolute;
	top: 85%;
	padding-right: 20px;
	padding-left: 20px;
	background-color: rgba(255,255,255,0.7);

	color: #A07508;
}
#reservation a{
	text-decoration: none;
	color: black;
	padding-bottom: 10px;
	line-height: 50px;
}
#image{
	width: 100%;
	min-width: 800px;
	height: 100%;
	min-height: 600px;
	
	/*background: url('../image/wall1.jpg') no-repeat center center fixed;*/
	background-size: cover;
	overflow: hidden;
}

#cf7 img{
	/*margin-top: -10%;*/
	width: 100%;
	height: 140%;
	min-height: 600px;
}




p#cf7_controls {
  text-align:center;
  margin-top: 95vh;
}
#cf7_controls span {
  padding-right:2em;
  cursor:pointer;
}
#cf7 {
  position:relative;

  margin:0 auto 10px;
}
#cf7 img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#cf7 img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

#cf7 img{
  width: 100%;
  height: 100vh;
  min-height: 600px;
}

span{
  position: relative;
}

#bouton{
  border-radius: 10px;
  width: 15px;
  height: 15px;
  color: black;
}

@media (max-width: 700px){
	#image{
		min-width: 100%;
		min-height: auto;
	}
	section{
		min-width: 100%;
	 	margin: 0px;
	}
		
	article{
	    width: 100%;
	    border: 0px;
	}
	footer{
	    visibility: hidden;
	    height: 0px;
	    line-height: 0px;
	    overflow: hidden;
	}
	#bloc{
		position: static;
		min-width: 100%;
	}
	#reservation{
		position: static;
		min-width: 100%;
		text-align: left;
	}
}

