/*image block properties*/
#image{

	/*width*/
  width: 58%;
  min-width: 750px;
  
	/*height*/
  height: 80vh;
  min-height: 450px;
  
	/*margin*/
  margin: auto;
  margin-top: 90px;
  
  /*border*/
  border: 1px solid rgba(0,0,0,0);

}


/*image img properties*/
#image img{
	margin: auto;
}

/*section properties*/
section{

	/*width*/
	width: 58%;
	min-width: 750px;
	
	/*height*/
	min-height: 900px;

	/*margin*/
	margin: auto;
	margin-top: 20px;
}

article{

	/*width*/
	width: 50%;
	
	/*height*/
	height: 400px;
	
	/*background*/
	background-color: #EFE8D5;
	
	/*overflow*/
	overflow: auto;
	
	padding-right: 5%;
	padding-left: 5%;
}


/*aside properties*/
aside{

	/*floating*/
	float: right;
		/*wodth*/
	width: 25%;
	
	/*height*/
	height: 400px;
	
	/*background*/
	background-color: #EFE8D5;
	
	/*overflow*/
	overflow: auto;
	
	padding-right: 5%;
	padding-left: 5%;
}

#menu{
	min-height: 500px;		   
	background-color: #EFE8D5;
	margin-top: 50px;
}
#galerie{
	background-color: #EFE8D5;
	margin-top: 50px;	
}
article, aside, #menu, #galerie{
	border: 5px solid #2F2E2A;
}

h1{
	text-align: center;
	font-family: Champignon;
	font-size: 2em;
}

aside p{
	font-size: 1em;
	line-height: 2em;
}

article p{
	font-size: 1em;
}
#miniature img{
	width: 50px;
	height: 50px;
	margin-left: 20px;
	margin-bottom: 20px;
}
#zoom{
	width: 70%;
	height: 70%;
	margin-left:15%; 
	margin-bottom: 20px;
}



p#cf7_controls {
  text-align:center;
  margin-top: 75vh;
}
#cf7_controls span {
  padding-right:2em;
  cursor:pointer;
}
#cf7 {
  position:relative;

  margin:0 auto 10px;
}
#cf7 img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#cf7 img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}
#cf7 img{
  width: 100%;
  height: 80vh;
  min-height: 450px;
}
span{
  position: relative;
}

/*Part for mobile adaptation*/
@media (max-width: 700px){
  #image{
    min-width: 100%;
    margin: 0px;
  }
  section{
    min-width: 100%;
    margin: 0px;
  }
  aside{
    float: none;
    width: 100%;
    border: 0px;
  }
  article{
    width: 100%;
    border: 0px;
  }
  footer{
    visibility: hidden;
    height: 0px;
    line-height: 0px;
    overflow: hidden;
  }
  #menu{
  	width: 100%;
  	border: 0px;
	margin-top: 0px;

  }
  #galerie{
  	width: 100%;
  	border: 0px;
  	margin-top: 0px;
  }
}