section{
	width: 60%;
	min-width: 750px;
	min-height: 570px;

	margin: auto;
	padding: 40px;
	margin-top: 20px;
	margin-bottom: 20px;

	/*box-shadow: 0px 0px 30px white;*/

	/*-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;*/

	background-color: #EFE8D5;
	border: 5px solid #2F2E2A;
	color: #A07508;
}


article{
	line-height: 3em;
	
	margin-left: 20px;
}



@media (max-width: 700px){
	section{
		min-width: 100%;
	 	margin: 0px;
	 	border: 0px;
	 	padding: 0px;
	}
		
	article{
	    width: 100%;
	    border: 0px;
	}


}