

fieldset {
border: 1px ;
padding: 10px;
-moz-box-shadow: 0px 0px 4px #000;
	-webkit-box-shadow: 0px 0px 4px #000;
	box-shadow: 0px 0px 4px #000;
}
div.form {
	top: 200px;
	left: 0px;
	position: absolute;
	/*margin-top: 200px;
	margin-left: 100px;*/
	width: 25%;
	text-align: center;
	opacity: 0;
}

p.submit {
	font-size: 60%;
}

body{
	font: bold 1em Arial, Helvetica, sans-serif;	
	background-image: url("../background/login.jpg");
}


	/*#loginForm {
		text-align: center;
	}*/
