@CHARSET "UTF-8";
.frame_main{
	margin-left: 22%;
	width: 77%;
	height: 100%;
	margin-top: 33px;
	padding-top: 20px;
	border: 1px;
	-moz-box-shadow: 0px 0px 3px #000;
	-webkit-box-shadow: 0px 0px 3px #000;
	box-shadow: 0px 0px 3px #000;
	position: fixed;
}


.acco{
	font-size: 70%;
	margin-left: 1%;
	width: 20%;
	height: 100%;
	margin-top: 33px;
    -moz-box-shadow: 0px 0px 3px #000;
    -webkit-box-shadow: 0px 0px 3px #000;
    box-shadow: 0px 0px 3px #000;
	position: fixed;
	/*background-color: #999; */
	/*opacity: 0.7;*/
}

div.nav_h, div.acco, .frame_main{
	opacity: 0;
}

body{
	margin: 0;
	background-image: url("../background/background.jpg"); 

}