@CHARSET:"UTF-8";
.nav_h{
	height: 30px;
	width: 100%;
	-moz-box-shadow: 0px 0px 3px #000;
    -webkit-box-shadow: 0px 0px 3px #000;
    box-shadow: 0px 0px 3px #000;
	position: fixed;
	/*background-color: #ccd;*/
	/*background-color: #6CC4E1;*/
	background-color: #89D0E7;
}
.nav_h ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	/*width: 100px;		*/
	height: 100%;
}
.nav_h a{
	text-decoration: none;
	text-align: center;
	display: block;
	/*height: 100%;		*/
	line-height: 30px;
	width: 100px; 	 	
	color: #000;
}
/*.nav_h a.title{
	margin-right: 80%;
}*/

.nav_h li{
	float: right;

}
.nav_h li.title{
	float: left;
}
.nav_h a:hover{
	background-color: #cef;	
	color: #000;
}