@CHARSET "UTF-8";
.nav_v{
	width: 20%;
	height: 100%;
	margin-top: 40px;
    -moz-box-shadow: 0px 0px 4px #000;
    -webkit-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
	position: fixed;
	background-color: #999; 
}
.nav_v ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	/*width: 100px;		*/
	height: 100%;
}
.nav_v a{
	text-decoration: none;
	display: block;
	height: 30px;		
	line-height: 30px;
	/*width: 100px; 	 	*/

}

.nav_v a:hover{
	background-color: #cef;	
	color: #000;
}