/*table{
	border-collapse:collapse;
	}*/

	/*td, th{
	border:1px solid blue;
	}
*/

	table{
		margin: auto;
		font-size: 150%;
		border-collapse: collapse;	
	}
	td{
	text-align: center;
	padding-bottom: 2px;
	padding-top: 3px;
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid #999;
	/*background-color: #FFE0EB;*/
	}

	th{
	background: #CCCCCE url(../background/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
	
	color: #222222;
	/*background-color:#0099FF;*/
	/*color:white;*/
	border: 1px solid #999;
	padding: 4px;
	}
#formOrder, div.pager, div.delete{ 
	text-align: center;
}

div.delete {
	padding-top: 20px;
}
.ui-icon {
	
	/*margin: -3px -3px;*/
	margin-left: -16px;
	margin-top: -6px;
	margin-bottom: -5px;	
	/*background-position: -200px -115px;	*/
}

input.text {
margin-bottom: 6px;
width: 97%;
padding: .4em;
}

body {
	font-size: 60%;
}

button.update ,a.update{
	width: 53%;
}

h1 {
	font-size: 300%;
}